.title{
    padding: 30px;
    background-color: #666;
    color: white;
    text-align: center;
}

table {
    width: 100%;
  }

  .container{
    margin: 0 20%;
  }

  td, th {
    width: 15%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

.delete{
  cursor: pointer;
  color: rgb(118, 17, 212);
}

.edit{
  cursor: pointer;
  color: rgb(64, 52, 238);
}

.search{
  cursor: pointer;
  color: grey;
}

.agregar{
  font-size: 10px;
  line-height: 28px;
}